.top-line {
  width: 100%;
  background: $dark-blue;
  height: 64px;
  position: absolute;
  top: 0;
  z-index: -1;
}

.content {
  overflow: hidden;
  padding-left: 15px;
  margin-bottom: 30px;
}
.top-nav {
  ul {
    li {
      float: left;
      a {
        color: #fff;
        text-decoration: none;
        padding: 25px 20px;
        @include inline-block;
        font-size: 24px;
        transition: .5s;
        &:hover {
          opacity: .5;
        }
      }
      &:first-child {
        width: 70px;
        height: 85px;
        background: $green;
      }
      &:last-child {
        background: #ffa100;
        width: 100px;
        height: 78px;
      }
    }
  }
}
#basket {
  background: $green;
  width: 100px;
  height: 78px;
  a {
    width: 100%;
    height: 100%;
    padding: 0;
    position: relative;
    &:before {
      position: absolute;
      width: 60px;
      height: 60px;
      display: block;
      content: '';
      background: url(../images/sprite.png) no-repeat;
      top: 10px;
      left: 17px;
    }
  }
}
#counter {
  position: absolute;
  display: none;
  background: red;
  padding: 5px;
  border-radius: 50%;
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  right: 5px;
  top: 5px;
}
.orange {
  background: $orange;
}
.red {
  background: #ca3636;
}
.blue {
  background: #15c1e5;
}
.topmargin {
  margin-top: 30px;
}
